doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/style.css")
        title Pug Template Engine
    body 
        div 
            header 
                include partials/_nav
                h2.green Pug Template Engine
            section 
                h2.red #{section}
                table(border='1')
                each user in users
                    tr
                        td #{user.id}
                        td #{user.name}
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, nulla.
                each num in [1, 2, 3, 4, 5, 6]
                    li = num 
                each value,key in {a: 1, b: 2}
                    li #{key} : #{value}
            footer 
                h3.blue footer section
                p 
                    a(href=link, target="_blank") my link